:root {
    /* Neutral colors */
    --neutral-light: rgb(248, 250, 252);
    --neutral-hover: rgb(241, 245, 249);
    --neutral-border: rgb(226, 232, 240);
    --neutral-text: rgb(148, 163, 184);
    --neutral-dark: rgb(15, 23, 42);

    /* Primary accents */
    --blue: 37, 99, 235;
    --green: rgb(22, 163, 74);
    --purple: rgb(147, 51, 234);
    --white: rgb(255, 255, 255);
    --orange: rgb(234, 88, 12);  

    /* Gradient variants */
    --blue-dark: 23, 51, 141;
    --green-light: 34, 197, 94;
    --green-dark: rgb(4, 120, 87);
    --amber: 245, 158, 11; 
    --amber-light: 255, 210, 80;   
          

    /* Gradients */
    --gradient-hero-overlay: linear-gradient(
        to bottom right,
        var(--neutral-dark),  
        rgba(var(--blue-dark), 0.8), 
        var(--neutral-dark)  
    );

    --gradient-blue-purple: linear-gradient(
        to bottom right, 
        rgb(var(--blue)), 
        var(--purple)
    );

    --gradient-blue-purple-tr: linear-gradient(
        to right, 
        rgb(var(--blue)), 
        var(--purple)
    ); 

    --gradient-blue: linear-gradient(
        to bottom right,
        rgb(var(--blue)),
        rgb(var(--blue-dark))
    );

    --gradient-green: linear-gradient(
        to bottom right,
        var(--green),
        var(--green-dark)
    );

    --gradient-orange: linear-gradient(
        to bottom right,
        rgb(var(--amber-light)),
        var(--orange)
    );

    --font-size-small: 0.7rem;
    --font-size-normal: 0.93rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 2.2rem;

    --border-radius-small: 10px;
    --border-radius-large: 20px;
    --border-radius-pill: 9999px;

    --transition: all 0.3s ease-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: Roboto, sans-serif;
    background-color: var(--neutral-light);
}

h1, h2, h3, .logo-title {
    font-family: Montserrat, sans-serif;
}

h1+p {
    font-size: var(--font-size-medium);
    animation: fade-in 0.6s ease-in 0.4s forwards;  
}

p {
    line-height: 1.5;
}

.flex-layout {display: flex;}
.flex-center {align-items: center; justify-content: center;}
.flex-vertical-center{align-items: center;}
.flex-column {flex-direction: column;}
.align-self {align-self: center;}

.position-relative {position: relative;}

.small-gap {gap: 0.5rem;}
.medium-gap{gap: 1rem;}
.large-gap{gap: 1.5rem;}


.margin-bottom-small{margin-bottom: 0.5rem;}
.margin-bottom-medium{margin-bottom: 1rem;}
.margin-bottom-large{margin-bottom: 2rem;}

.padding-small { padding: 0.5rem;}

.border-radius-small {border-radius: var(--border-radius-small);}


.text-neutral-dark {color: var(--neutral-dark);}
.text-background-mid {background: var(--neutral-text);}
.text-background-white {background: var(--white);}
.text-background-light{background: var(--neutral-border);}


.color-transparent {color: transparent;}
.color-white {color: var(--white);}

.background-color-blue {background-color: rgb(var(--blue));}
.background-color-green {background-color: var(--green);}
.background-color-purple {background-color: var(--purple);}

.neutral-hover:hover {background-color: var(--neutral-hover);}
.neutral-border {border: 1px solid var(--neutral-border);}


.gradient-orange {background: var(--gradient-orange);}
.gradient-blue-purple {background: var(--gradient-blue-purple);}
.gradient-green {background: var(--gradient-green);}
.gradient-blue {background: var(--gradient-blue);}

.font-size-large {
    font-size: var(--font-size-large);
    font-weight: 900;
}

.font-bold {font-weight: bold;}

.font-size-clamp {font-size: clamp(1.1rem, 7vw + 1rem, 3rem);}

/*========================================= HEADER && LOGO ==============================*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slideDown 0.5s ease-out forwards;
}

.top-bar {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
}

/* Logo */
.logo {
    gap: 0.7rem;
}

.logo-icon {
    width: 29px;
    transition: transform .6s ease-out;
}

.logo-icon:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.logo-icon-container {
    background: var(--gradient-blue-purple);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo-text {
    padding-top: 0.3rem;
}

.logo-title {
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--gradient-blue-purple-tr);
}

.background-clip {
    -webkit-background-clip: text;
    background-clip: text;
}

.logo-tag {
    font-size: var(--font-size-small);
    margin-top: -0.5rem;
}

/*================================ HAMBURGER =================================*/
.hamburger {
    width: 45px;
    height: 45px;
    border-radius: var(--border-radius-small);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: '≡';
    font-size: 2rem;
    color: var(--neutral-dark);        
}

.hamburger.show::before {
    content: '✕';
    font-size: 1.5rem;

}
/*================================ NAVIGATION =================================*/
.navigation {
    max-height: 0; 
    opacity: 0;
    visibility: hidden; 
    overflow: hidden; 
    width: 100%;
    
    transition: var(--transition);
}

.navigation.show {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    margin-top: 2rem;
}

.navigation a {
    padding: .7rem .8rem;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius-small);
}

a {
    transition: var(--transition);
}

#current {
    background: var(--gradient-blue-purple-tr);
}

#current path {
    stroke: var(--white);
}

.nav-icon {
    width: 1.2em;   
    height: 1.2em;
    stroke-width: 0.12em;  
}

.nav-icon-market { stroke-width: 0.6em; }

/*===================================== HERO SECTION ===============================*/
.hero {
    background-image: url('../images/blockchain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    

    margin: 3rem 1.5rem;
    border-radius: var(--border-radius-large);

    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradient-hero-overlay);
    border-radius: var(--border-radius-large);
    z-index: 10;
}

.arrow-up {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 15;
    width: 300px;
}

.arrow-up path {
    fill: rgba(var(--amber), 0.2);
}

.hero-content {
    z-index: 20;
    position: relative;
    margin: 2.5rem;
    line-height: 1.4;
}

/* CTA */
.cta {
    border-radius: var(--border-radius-pill);
    background-color: rgba(var(--amber), 0.2);
    border: 1px solid rgba(var(--amber), 0.5);
    color: rgb(var(--amber-light));
    padding: 0.5rem;
    font-size: var(--font-size-normal);
    animation:  zoom-in 0.5s ease-in 0.2s forwards;
}

.fit-content {
    max-width: fit-content;
}

/* Offers */
.bullet {
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.wrap {
    flex-wrap: wrap;
}

.green-bullet {
    background-color: var(--green-dark);
    animation: pulse 2s ease-in-out infinite;
}

.gray-bullet {
    background-color: var(--neutral-text);
}

/*=================================== CARDS ================================*/
.card {
    position: relative;
    overflow: hidden; 
    margin: 0 1.5rem 2rem;
    padding: 2rem;
    border-radius: var(--border-radius-large);
}

.margin-top-large{margin-top: 2rem}
.margin-bottom-extra-large{margin-bottom: 7rem}

.info-icon-container {
    width: 55px;
    height: 55px;
    border-radius: var(--border-radius-small);
}

.shadow {
    transition: var(--transition);
}

.shadow:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.15);
}

.hover-overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--hover-overlay-color);
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
    z-index: 0;
}

.hover-overlay:hover::after {
    opacity: 1;
}

.green {
    --hover-overlay-color: rgba(var(--green-light), 0.1);
}

.blue {
    --hover-overlay-color: rgba(var(--blue), 0.1);
}

.grid-single {
    display: grid;
    grid-template-columns: 1fr;
}

.circle::after {
    content: '';
    position: absolute;
    top: -8rem;
    right: -8rem;
    width: 16rem;
    height: 16rem;
    background-color: var(--white);
    opacity: 0.05;
    border-radius: var(--border-radius-pill);
    transform: scale(1);
    transition: transform 0.7s ease;
    pointer-events: none;
    z-index: 0;
}

.card.circle:hover::after {
    transform: scale(1.5);
}

.square {
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius-small);
}

/*================================ ANIMATIONS ==========================*/
@keyframes slide-up {
    from {transform: translateY(10px);}
    to {transform: translateY(0);}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideDown {
    from { transform: translateY(-100%);}
    to { transform: translateY(0);}
}

@keyframes pulse {
    0% {background-color: var(--green-dark);}

    50% {background-color: rgb(var(--green-light));}

    100% {background-color: var(--green-dark);}
}

@keyframes zoom-in {
    from {transform: scale(0.9);}
    to {transform: scale(1);}
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 0.6s ease-out forwards,
             slide-up 0.6s ease-out forwards;
}

.second-delay { animation-delay: 0.3s, 0.3s; }
.fourth-delay { animation-delay: 0.5s, 0.5s; }

/*================================= FOOTER =============================*/
footer {
    padding: 4rem 1.5rem 2rem;
    background-color: var(--neutral-dark);
} 

footer a:hover {
    color: var(--white);
}

footer img {
    width: 40px;
}

footer .logo-title {
    background: none;
    font-size: var(--font-size-medium);
}

.dynamic {
    border-top: 1px solid var(--neutral-text);
    padding-top: 2rem;
}
