:root {
    /* Neutral colors */
    --neutral-light: rgb(248, 250, 252);
    --neutral-hover: rgb(241, 245, 249);
    --neutral-border: rgb(226, 232, 240);
    --neutral-text: rgb(148, 163, 184);
    --neutral-dark: rgb(15, 23, 42);

    /* Primary accents */
    --blue: 37, 99, 235;
    --green: rgb(22, 163, 74);
    --purple: rgb(147, 51, 234);
    --white: 255, 255, 255;
    --orange: rgb(234, 88, 12);  
    --pink: rgb(216, 52, 80);

    /* Gradient variants */
    --blue-dark: 23, 51, 141;
    --green-light: 34, 197, 94;
    --green-dark: rgb(4, 120, 87);
    --green-faded: rgba(var(--green-light), 0.1);
    --amber: 245, 158, 11; 
    --amber-light: 255, 210, 80;
    --gray: rgb(81, 81, 81);
    --gray-light: rgb(226, 232, 240);  
    /*--brown-text: rgb(48, 33, 33);*/
    --brown-text: rgb(56, 37, 37);
     

    /* Gradients */
    --gradient-hero-overlay: linear-gradient(
        to bottom right,
        var(--neutral-dark),  
        rgba(var(--blue-dark), 0.8), 
        var(--neutral-dark)  
    );

    --gradient-blue-purple: linear-gradient(
        to bottom right, 
        rgb(var(--blue)), 
        var(--purple)
    );

    --gradient-blue-purple-tr: linear-gradient(
        to right, 
        rgb(var(--blue)), 
        var(--purple)
    ); 

    --gradient-blue: linear-gradient(
        to bottom right,
        rgb(var(--blue)),
        rgb(var(--blue-dark))
    );

    --gradient-green: linear-gradient(
        to bottom right,
        var(--green),
        var(--green-dark)
    );

    --gradient-orange-light: linear-gradient(
        to bottom right,
        rgb(var(--amber-light)),
        var(--orange)
    );

     --gradient-orange: linear-gradient(
        to bottom right,
        rgb(var(--amber)),
        var(--orange)
    );   

    --gradient-purple-pink: linear-gradient(
        to right,
        var(--purple),
        var(--pink)
    );

    --font-size-small: 0.7rem;
    --font-size-normal: 0.93rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 2rem;

    --border-radius-small: 10px;
    --border-radius-large: 20px;
    --border-radius-pill: 9999px;
    --border-radius-circle: 50%;

    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: Roboto, sans-serif;
    background-color: var(--neutral-light);
}

h1, h2, h3, .logo-title {
    font-family: Merriweather, sans-serif;
}

.hero-p {
    animation: fade-in 0.6s ease-in 0.4s forwards;  
}

p {
    line-height: 1.5;
}

.flex-layout {display: flex;}
.flex-center {align-items: center; justify-content: center;}
.flex-vertical-center{align-items: center;}
.flex-column {flex-direction: column;}
.align-self {align-self: center;}
.justify-space-between {justify-content: space-between;}
.flex-grow {flex: 1;}
.align-start {align-items: flex-start;}
.text-align-left {text-align: left;}

.position-relative {position: relative;}
.width-full {width: 100%;}

.small-gap {gap: 0.5rem;}
.medium-gap{gap: 1rem;}
.large-gap{gap: 1.5rem;}

.padding-small { padding: 0.5rem;}
.padding-bottom { padding-bottom: 0.2rem;}
.padding-normal {padding: 1rem;}
.padding-small-long { padding: 0.2rem 0.8rem;}

.border-radius-small {border-radius: var(--border-radius-small);}


.text-neutral-dark {color: var(--neutral-dark);}
.text-background-white {background: rgb(var(--white));}
.text-background-mid {background: var(--neutral-text);}
.text-background-light{background: var(--neutral-border);}
.text-color-light {color: rgb(196, 202, 212);}

.color-gray {color: var(--gray);}
.color-transparent {color: transparent;}
.color-white {color: rgb(var(--white));}
.color-green {color: var(--green);}
.color-green-dark {color: var(--green-dark);}
.color-red {color: rgb(220, 38, 38);}

.current {background: var(--gradient-blue-purple-tr);}
.background-color-blue {background-color: rgb(var(--blue));}
.background-color-green {background-color: var(--green);}
.background-green-faded {background: var(--green-faded);}
.background-color-purple {background-color: var(--purple);}
.background-color-white-faint { background: rgba(var(--white), 0.3);}
.background-gray-light {background-color: var(--gray-light);}
.background-none {background: none;}

.neutral-hover:hover {background-color: var(--neutral-hover);}
.gray-border {border: 2px solid var(--gray-light);}
.neutral-border {border: 1px solid var(--neutral-border);}


.gradient-orange {background: var(--gradient-orange);}
.gradient-orange-light {background: var(--gradient-orange-light);}
.gradient-blue-purple {background: var(--gradient-blue-purple);}
.gradient-green {background: var(--gradient-green);}
.gradient-blue {background: var(--gradient-blue);}
.gradient-purple-pink {background: var(--gradient-purple-pink);}

.font-size-large {font-size: var(--font-size-large);}
.font-size {font-size: 1rem;}
.font-size-small { font-size: var(--font-size-small);}
.font-size-duration {font-size: 12px;}
.font-size-h2 {font-size: 18px;}
.font-size-description {font-size: 14px;}
.font-size-normal {font-size: var(--font-size-normal);}
.font-size-medium {font-size: var(--font-size-medium);}
.button-font-weight {font-weight: 500;}
.h2-font-weight {font-weight: 600;}
.info-font-weight {font-weight: 800;}
.font-size-clamp {font-size: clamp(1.1rem, 7vw + 1rem, 3rem);}

/*========================================= HEADER && LOGO ==============================*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.top-bar {
    padding: 1rem 1.5rem;
}

/* Logo */
.logo {
    gap: 0.7rem;
}

.logo-icon {
    width: 29px;
    transition: transform .6s ease-out;
}

.logo-icon:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.logo-icon-container {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo-text {
    padding-top: 0.3rem;
}

.logo-title {
    font-size: 1.5rem;
    background: var(--gradient-blue-purple-tr);
}

.background-clip {
    -webkit-background-clip: text;
    background-clip: text;
}

.logo-tag {
    margin-top: -0.5rem;
}

/*================================ HAMBURGER =================================*/
.hamburger,
#close-modal {
    width: 45px;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: '≡';
    font-size: 2rem;
    color: var(--neutral-dark);        
}

.hamburger.show::before {
    content: '✕';
    font-size: 1.5rem;

}
/*================================ NAVIGATION =================================*/
.slide-down {
    max-height: 0; 
    overflow: hidden; 
    transition: var(--transition);
}

.navigation.show {
    max-height: 500px;
    margin-top: 2rem;
}

.navigation a {
    padding: .7rem .8rem;
}

a {
    transition: var(--transition);
}

/*===================================== HERO SECTION ===============================*/
.hero { 
    overflow: hidden;  
    margin: 3rem 1.5rem;
    border-radius: var(--border-radius-large);
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    object-fit: cover;
    object-position: center;

    z-index: -1;
}


.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradient-hero-overlay);
    border-radius: var(--border-radius-large);
    z-index: 10;
}

.arrow-up {
    position: absolute;
    bottom: 0;
    right: 5%;
    z-index: 15;
    width: 300px;
}

.hero-content {
    z-index: 20;
    margin: 2.5rem;
    line-height: 1.4;
}

/* CTA */
.cta {
    border-radius: var(--border-radius-pill);
    background-color: rgba(var(--amber), 0.2);
    border: 1px solid rgba(var(--amber), 0.5);
    color: rgb(var(--amber-light));
    transform: scale(0.9);
    animation:  zoom-in 0.5s ease-in 0.2s forwards;
}

.fit-content {
    max-width: fit-content;
}

/* Offers */
.bullet {
    width: 7px;
    height: 7px;
}

.wrap {
    flex-wrap: wrap;
}

.green-bullet {
    background-color: var(--green-dark);
    animation: pulse 2s ease-in-out infinite;
}

.border-radius-circle {
    border-radius: var(--border-radius-circle);
}

/*=================================== CARDS ================================*/
.card {
    position: relative;
    overflow: hidden; 
    margin: 0 1.5rem 2rem;
    padding: 2rem;
    border-radius: var(--border-radius-large);
}

.margin-top-large{margin-top: 2rem}
.margin-top-larger {margin-top: 3rem;}
.margin-top-medium {margin-top: 1.5rem;}
.margin-top-small {margin-top: 0.2rem;}
.margin-bottom-extra-large{margin-bottom: 7rem}
.margin-bottom-large{margin-bottom: 2rem;}
.margin-bottom-medium{margin-bottom: 1.5rem;}
.margin-bottom-normal{margin-bottom: 1rem;}
.margin-bottom-small{margin-bottom: 0.5rem;}

.padding-medium {padding: 1.5rem;}
.padding-hero { padding: 3rem;}

.info-icon-container {
    width: 55px;
    height: 55px;
}

.shadow {
    transition: var(--transition);
}

.shadow:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.15);
}
/*
.hover-overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--hover-overlay-color);
    opacity: 0;
    transition: var(--transition);
    z-index: 0;
}

.hover-overlay:hover::after {
    opacity: 1;
}

.green {
    --hover-overlay-color: var(--green-faded);
}

.blue {
    --hover-overlay-color: rgba(var(--blue), 0.1);
}
*/
.grid-single {
    display: grid;
    grid-template-columns: 1fr;
}

.circle::after {
    content: '';
    position: absolute;
    top: -8rem;
    right: -8rem;
    width: 16rem;
    height: 16rem;
    background-color: rgb(var(--white));
    opacity: 0.05;
    border-radius: var(--border-radius-pill);
    transform: scale(1);
    transition: transform 0.7s ease;
    z-index: 0;
}

.card.circle-hover:hover::after {
    transform: scale(1.5);
}

.square {
    width: 48px;
    height: 48px;
}

.small-square svg {
    width: 20px;
    height: 20px;
}

.learn-icon-container {
    min-width: 40px;
    height: 40px;
}

.arrow-down {
    min-width: 17.85px;
}

.learn-hero {
    animation: slide-up 0.2s ease-out forwards;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.unhide {
    opacity: 1;
    visibility: visible;
}

.progress-bar {
    height: 13px;
}

#lesson-buttons {
    padding: 0.2rem;
}

.search-icon {
    position: absolute;
    left: 3rem;
    z-index: 1;
}

input[type='search'] {
    padding-left: 3rem;
}

.lesson-content img {
    height: 12rem;
    object-fit: cover;

    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
}

.lesson-button.show > .lesson-content img {
    opacity: 1;
    transform: scale(1);
}


.lesson-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    border-top: 1px solid var(--neutral-border);
}

.lesson-button.show > .lesson-content {
    max-height: 1000px; 
    opacity: 1;
    visibility: visible;
    margin-top: 1.5rem;
}

.example {
    background-color: rgba(var(--amber-light), 0.1);
    border-left: 5px solid rgba(var(--amber), 0.5);
    color: var(--brown-text);
}

.form-container {
    position: sticky;
    top: 7rem; 
    align-self: start; 
}

.rating svg {
    transition: var(--transition);
}

.rating svg:hover {
    transform: scale(1.2);
}

#lessons-container > button:hover {
    background-color: var(--neutral-light);
}

.completed:hover {
    background-color: #000;
    color: rgb(var(--white));
}

.rotate-180 {transform: rotate(180deg);}

textarea {height: 105px;}

#refresh:hover {
    background: rgba(var(--white), 0.2);
}

dialog {
    border: none;
    margin: auto;
    width: 80%;
    max-width: 450px; 
}

dialog[open] {
    animation: fade-in 0.3s ease-out, slide-up 0.3s ease-out;
}

#close-modal {
    position: absolute;
    right: 5px;
    top: 3px;
}

::backdrop {
    background: rgba(0, 0, 0, 0.7);
    animation: fade-in 0.3s ease-out;
}

.font-light-weight {
    font-weight: 300;
}

.feedback-container {
    margin: 3rem auto 7rem;
    max-width: 600px;
}

/*================================ ANIMATIONS ==========================*/
@keyframes slide-up {
    from {transform: translateY(20px);}
    to {transform: translateY(0);}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes pulse {
    0% {background-color: var(--green-dark);}

    50% {background-color: rgb(var(--green-light));}

    100% {background-color: var(--green-dark);}
}

@keyframes zoom-in {
    from {transform: scale(0.9);}
    to {transform: scale(1);}
}

@keyframes fade-slide-left-out {
    from { 
        opacity: 1; 
        transform: translateX(0); 
    }
    to { 
        opacity: 0; 
        transform: translateX(-30px); 
    }
}

@keyframes fade-slide-right-in {
    0% {
        opacity: 0;
        transform: translate(30px, 20px);
    }

    60% {
        opacity: 1;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotate-180 {
    transform: rotate(180deg);
}

.fade-slide-right-in {
    animation: fade-slide-right-in 0.4s ease-out forwards;
    will-change: transform, opacity;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 0.8s ease-out forwards,
             slide-up 0.6s ease-out forwards;
}

.fade-slide-left-out {
    animation: fade-slide-left-out 0.4s ease-out forwards;
}

.second-delay { animation-delay: 0.3s, 0.3s; }
.fourth-delay { animation-delay: 0.5s, 0.5s; }

/*================================= FOOTER =============================*/
footer {
    padding: 4rem 1.5rem 2rem;
    background-color: var(--neutral-dark);
} 

footer a:hover {
    color: rgb(var(--white));
}

footer img {
    width: 40px;
}

.img-width {
    object-fit: contain;
}

footer .logo-title {
    background: none;
}

.dynamic {
    border-top: 1px solid var(--neutral-text);
    padding-top: 2rem;
}
