@media only screen and (min-width: 425px) {
    .course-btn {
       opacity: 1;
       visibility: visible;
    }
}

@media only screen and (min-width: 768px) {
    .top-bar {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navigation {
        display: block;
        width: auto;
        margin-top: 0;

        max-height: none;      
        opacity: 1;           
        visibility: visible;   
        overflow: visible;     
    }

    .navigation a {
        display: inline-flex;
        min-width: 110px;
        margin-bottom: 0;
        gap: 0.5rem;
    }

    .navigation a:hover {
        transform: scale(1.05);
    }

    .hamburger {
        display: none;
    }

    .navigation ul {
        display: flex;
        gap: 0.5rem;
    }

    .hero-content {
        max-width: 60%;
        margin: 4rem
    }

    .grid-triple {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-double {
        grid-template-columns: 1fr 1fr;
    }

    .dynamic {
        grid-column: 1/4;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1024px) {
    .grid-triple {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-double-one {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .form-container {
        margin-left: 0;
        margin-top: 0;
    }

    #lesson-buttons {max-width: fit-content;}
}