* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #1E1A1D;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

#hamburger {
	border: none;
	background: transparent;
	margin-right: 1rem;
	cursor: pointer;
}

#hamburger::before {
	content: '≡';
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
}

#hamburger.active::before {
	content: '✕';
	font-size: 1.5rem;
}

#nav {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #8DA9C4;
	padding: 1rem;
	display: none;
	font-size: 1.12rem;
}

#nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


#nav a {
	color: #1E1A1D;
	text-decoration: none;
}

#nav.active {
	display: block;
}

#nav a:hover,
#current a {
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 5px;
}

main {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0.5rem;
	margin-top: -1rem;
}

h1 {
	padding: 1rem;
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: center;
	margin: 0.5rem 0 1rem 0;
	gap: 15px;
}

.buttons button {
	border: 1px solid #1E1A1D;
	background: transparent;
	cursor: pointer;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-3px);
	}
}


section {
	border: 1px solid #8DA9C4;
	padding: 0.5rem;
	height: 100%;

	h3 {
		font-size: 1.5rem;
	}

	a {
		text-decoration: none;
		color: #1E1A1D;
	}

	a:after {
		content: "\2197";
		margin-left: 0.2em;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	align-items: center;

	h3 {
		display: none;
	}

	section {
		text-align: center;
		box-shadow: 0 5px 5px 5px #8DA9C4;

		&>* {
			margin: 0.1rem;
		}
	}
}

.list {
	display: flex;
	flex-direction: column;
	padding-bottom: 0.5rem;

	section {
		display: grid;
		grid-template-columns: 300px 200px 200px 200px;
		padding: 1rem;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		&>* {
			margin: 0 1rem;
		}

		img {
			display: none;
		}

		h3 {
			font-size: 1rem;
		}

		&:nth-child(odd) {
			background-color: #8DA9C4;
		}
	}

}

footer {
	background-color: #8DA9C4;
	margin-top: 3rem;
}

/*============= ENSURE FOOTER STAYS AT THE BOTTOM OF THE PAGE =================*/
html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
}

/*===============================================================================*/

.footer-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	padding: 1rem;
	max-width: 1000px;
	margin: 0 auto;
}

.footer-container div {
	padding-top: 1rem;
}

.social-media {
	display: flex;
	gap: 15px;
}

.footer-container p {
	margin-bottom: 5px;
}

.name {
	font-weight: 700;
}