@media (min-width: 481px) {
    .header img {
        height: 120px;
    }

    .tagline {
        max-width: 70%;
    }

    .cta a {
        width: 70%;
        max-width: 320px;
        padding: 1rem 2rem;
    }
}

@media (min-width: 768px) {

    .header img {
        height: 140px;
    }

	.hero-container,
	.hero-bg {
		padding-top: 200px;
		padding-bottom: 150px;
	}

	.hero-container {
		background-image: url('../images/hero-medium.webp');
	}

    .cta a {
        padding: 1rem 2.5rem;
    }

	.transition {
		margin-top: -5rem;
	}

	#hamburger {
		display: none;
	}

	#nav {
		position: static;
		background: transparent;
		display: flex;
		justify-content: end;
		align-items: center;
		min-height: auto;
		color: #fff;
	}

	#nav ul {
		display: flex;
		justify-content: end;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		list-style: none;
	}

	#nav ul li a {
		padding: 0.5rem 0.25rem;
	}

	.cards {
        grid-template-columns: repeat(2, 1fr); 
    }

	.social-media {
		justify-content: center;
	}
}
@media (min-width: 900px) {
	.list .member-card {
		grid-template-columns: 2.5fr 3fr 2fr 2.5fr;
	}
}

@media (min-width: 1024px) {
	.hero-container {
		background-image: url('../images/hero-large.webp');
	}

    .tagline {
		max-width: 60%;
    }

	.cta {
		flex-direction: row;
	}

	.cta a:nth-child(2) {
		display: block;
		max-width: 200px;
	}
    .cards {
        grid-template-columns: repeat(3, 1fr); 
    }
}