@media (min-width: 481px) {
    .header img {
        height: 120px;
    }

    .tagline {
        max-width: 70%;
    }

    .cta {
        width: fit-content;
    }
}

@media (min-width: 768px) {

    .header img {
        height: 140px;
    }

	.hero-container,
	.hero-bg {
		padding-top: 180px;
	}

	.info-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.hero-container {
		background-image: url('../images/hero-medium.webp');
	}

	.text-align-left {
		text-align: left;
	}

	.places div {
	display: grid;
	grid-template-areas: 
		"image title"
		"image description"
		"image address";
	}

	.places img {
		width: 300px;
	}

    .cta a {
        padding: 1rem 2.5rem;
    }

	.transition {
		margin-top: -5rem;
	}

	#hamburger {
		display: none;
	}

	#nav {
		position: static;
		background: transparent;
		display: flex;
		justify-content: end;
		align-items: center;
		min-height: auto;
		color: var(--color-white);
	}

	nav .flex-container,
	.tagline .flex-container {
		flex-direction: row;
	}

	.cards,
	.membership-cards {
        grid-template-columns: repeat(2, 1fr); 
    }

	.social-media {
		justify-content: center;
	}

	.contrast {
		filter: contrast(50%);
	}
}
@media (min-width: 900px) {
	.list .member-card {
		grid-template-columns: 2.5fr 3fr 2fr 2.5fr;
	}
}

@media (min-width: 1024px) {
	.hero-container {
		background-image: url('../images/hero-large.webp');
	}

	.places {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

    .tagline {
		max-width: 60%;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr); 
    }

	.membership-cards {
		grid-template-columns: repeat(4, 1fr);
	}

	.join-form {
		padding: 2rem 5rem 5rem 5rem;
		box-shadow: 0 5px 5px rgb(0 0 0 / 0.5);
	}
}