@media (min-width: 41rem) {

	.list,
	header,
	.footer-container {
		max-width: 41rem;
		width: 100%;
		margin: 0 auto;
	}
}


@media (min-width: 50.75rem) {
	header,
	.footer-container {
		max-width: none;
	}

	#hamburger {
		display: none;
	}

	#nav {
		position: static;
		background: transparent;
		display: flex;
		justify-content: end;
		align-items: center;
		min-height: auto;
	}

	#nav ul {
		display: flex;
		justify-content: end;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		list-style: none;
	}

	#nav ul li a {
		padding: 0.5rem 0.25rem;
	}

	.social-media {
		justify-content: center;
	}
}

@media (min-width: 59rem) {
	.list {
		max-width: none;
	}

	.list section {
		grid-template-columns: 250px 200px 200px 200px;
	}
}