@media (min-width: 44rem) {

	#hamburger {
		display: none;
	}

	#nav {
		position: static;
		background: transparent;
		display: flex;
		justify-content: end;
		align-items: center;
		min-height: auto;
	}

	#nav ul {
		display: flex;
		justify-content: end;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		list-style: none;
	}

	#nav ul li a {
		padding: 0.5rem 0.25rem;
	}

	.list {
		max-width: 44rem;
		margin: 0 auto;
	}

	.social-media {
		justify-content: center;
	}
}

@media (min-width: 59rem) {
	.list {
		max-width: none;
	}

	.list section {
		grid-template-columns: repeat(4, 1fr);
	}

}