html,
body {
	display: flex;
	flex-direction: column;
	font-family: Roboto, sans-serif;
	color: rgb(30, 26, 29);
}

/*==================================== HEADER ==================================*/
.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 1rem;
	background: rgba(0, 0, 0, 0.3);
	color: rgb(255, 255, 255);
	backdrop-filter: blur(6px);
}

.header img {
	height: 100px;
	width: auto;
}

/*========================================= HAMBURGER =================================*/
#hamburger {
	margin-right: 1rem;
}

#hamburger::before {
	content: '≡';
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
	color: rgb(255, 255, 255);
}

#hamburger.active::before {
	content: '✕';
	font-size: 1.5rem;
}

/*================================== NAVIGATION ==================================*/
#nav {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgba(0, 4, 18, 0.8));
	color: rgb(30, 26, 29);
	min-height: 100vh;
	display: none;
	padding: 2rem 1.3rem;
	font-size: 1.12rem;
}

#nav ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#nav.active {
	display: block;
}

#nav a:hover,
#current a {
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 5px;
}

/*================================= HERO ==========================*/
.hero-container {
    width: 100%;
    background-image: url('../images/hero-small.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    padding-top: 160px;
    padding-bottom: 100px;

    position: relative; 
    color: rgb(255, 255, 255);
}

.hero-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom right,
        rgba(0, 4, 18, 0.8) 0%,
        rgba(0, 4, 18, 0.5) 90%,
        rgba(0, 4, 18, 0) 100%
    );
    pointer-events: none;
    z-index: 0;
}

.hero-bg {
	background: rgba(0, 4, 18, 0.9);
    padding-top: 160px;
    padding-bottom: 100px;
}

.hero-bg .tagline {
	color: rgb(255, 255, 255);
	max-width: none;
	text-align: center;
}

.tagline {
    max-width: 90%;
    padding: 1rem;
	margin-left: 1rem;
    display: flex;
    flex-direction: column;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

    position: relative;
    z-index: 1; 
}

.tagline h1 {
    font-size: clamp(3rem, 5vw + 1rem, 4rem);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.tagline p {
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    line-height: 1.4;
    margin-bottom: 1rem;
}

.tagline span {
    color: rgb(0, 132, 255);
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.cta a {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    font-size: 1.3rem;
}

.become {
    border: 1px solid rgb(10, 89, 163);
    color: rgb(255, 255, 255);
}

.become:hover {
    background-color: rgb(10, 89, 163);
}

.learn-more { 
	display: none;
	color: rgb(17, 17, 17); 
	background-color: rgb(255, 255, 255); 
	text-shadow: none; 
	font-weight: bold;
} 
/*=============================== TRANSITION DIV =======================*/
.transition {
	position: relative;
    width: 100%;
    height: 100px;
	margin-top: -3rem;
    background: linear-gradient(to top, rgb(255, 255, 255) 67%, transparent 100%);
	z-index: 20;
}

/*================================= MAIN ==========================*/
main {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
}

h2, 
h3 {
	color: rgb(17, 17, 17); 
}

/*============================== EVENTS AND WEATHER ======================*/

/*===== GENERAL CARD STYLING =====*/
.cards {
	width: min(100%, 1000px);
	margin: 0 auto;
	padding: 1rem;

	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

.cards section,
.spotlight-card,
.grid .member-card {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: rgb(255, 255, 255);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards section:hover {
	transform: translateY(-4px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cards h2 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	display: inline-block;
	text-align: center;
}

/*====== EVENTS CARD =====*/
#events {
	background: linear-gradient(to bottom right,
			rgba(141, 169, 196, 0.2) 0%,
			rgba(255, 255, 255, 1) 100%);
}

.event-card {
	padding: 1rem 0.5rem;
}

#events h2 {
	border-bottom: 1px solid rgb(13, 104, 189, 0.12);
}

.event-card h3 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.event-card p,
.min-text {
	font-size: 0.9rem;
}

.event-card:hover {
	background-color: rgb(109, 164, 215, 0.08);
}

.event-card:hover h3 {
	color: rgb(10, 89, 163);
}

/*===== CURRENT WEATHER CARD ====*/
#current-weather {
	background: linear-gradient(to bottom right,
			rgba(255, 183, 77, 0.12),
			rgba(255, 255, 255, 1));
}

.weather-card,
.spotlight-card,
.grid .member-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0.5rem;
}

#current-weather h2 {
	border-bottom: 1px solid rgb(184, 124, 11, 0.12);
}

.weather-card img {
	width: 48px;
	height: auto;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
}

.weather-card p:first-of-type {
	font-size: 3rem;
	font-weight: 700;
}

.weather-card p:nth-of-type(3) {
	margin-top: 2rem;
}

.weather-card p span,
.forecast-temp {
	font-weight: bold;
}

/*==== FORECAST CARD ====*/
#weather-forecast {
	background: linear-gradient(to bottom right,
			rgba(186, 104, 200, 0.12),
			rgba(255, 255, 255, 1));
}

#weather-forecast h2 {
	border-bottom: 1px solid rgba(186, 104, 200, 0.12);
}

.forecast-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border-radius: 6px;
}

.forecast-card div p:first-child {
	font-size: 1rem;
	font-weight: bold;
	color: rgb(17, 17, 17);
}

.forecast-card:hover {
	background: rgba(200, 200, 255, 0.1);
}
/*============================== SPOTLIGHTS SECTION ==============================*/
.spotlights-container,
.grid .member-card {
	text-align: center;
}

.spotlight-card:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.spotlight-card p:first-of-type {
	color: rgb(10, 89, 163);
}

.spotlights-container h2 {
	margin: 5rem 0 1rem;
	font-size: 2.5rem;
}

.spotlights-container h2 + p {
	margin-bottom: 3rem;
	font-size: clamp(0.9rem, 2.5vw, 1.3rem);
	padding: 1rem;
}

.external-link {
	display: flex;
	gap: 5px;
	color: rgb(10, 89, 163); 
}

.external-link:hover {
	color: rgb(0, 132, 255);
}

.external-link-icon {
	width: 16px;
}

/*============================== LAYOUT BUTTONS =================================*/
.buttons {
	display: flex;
	justify-content: center;
	margin: 2rem;
	gap: 15px;
	transition: transform 0.25s ease-in-out, box-shadow 0.25s ease;
}

.buttons button {
	border: 1px solid rgb(30, 26, 29);
	border-radius: 8px;
}

.buttons button:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.disc {
	position: relative;
}

.disc-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 105%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(10, 89, 163);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 8px;
  border-radius: 8px;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 0.7rem;
  z-index: 1;
}

.disc:hover .disc-text {
	visibility: visible;
  	opacity: 1;
}

/*=============================== GRID LAYOUT STYLES =================================*/
.grid h3,
.list img {
	display: none;
}

.grid .member-card {
	height: 100%;
}

/*=================================== LIST LAYOUT STYLES ================================*/
.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem 1.5rem;
}

.list .member-card {
	display: grid;
	grid-template-columns: 1fr; 
	gap: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.list .member-card h3 {
	font-size: 1.1rem;
	font-weight: 600;
}

.list .external-link-icon {
	display: none;
}

/*=============================== FOOTER ===========================*/
footer {
	background-color: rgba(0, 4, 18, 0.9);
	color: rgb(255, 255, 255);
	margin-top: 3rem;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
	padding: 1rem;
	max-width: 1000px;
	margin: 0 auto;
}

.footer-container div {
	padding-top: 1rem;
}

.social-media {
	display: flex;
	gap: 15px;
}

.footer-container p {
	margin-bottom: 5px;
}

.name {
	font-weight: 700;
}